* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #414141;
  background-color: #FFF7F8;
  font-family: Tahoma;
}

h1 {
  width: 100%;
  background-color: #87a5d4;
  font-family: Garamond, monospace;
  text-align: center;
  font-size: 48px;
}

p {
  font-family: Tahoma;
}

.navbar {
  list-style-type: none;
  display: flex;
  width: 100%;
  background-color: #A9F0D1;
  justify-content: space-around;
}

.navbar li {
  display: flex;
  font-size: 1.5em;
  font-family: Tahoma;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3%;
  padding-right: 3%;
}

.navbar li:hover {
  background-color: #456c7a;
  color: #9ba1a3;
}

a:visited, a:link {
  text-decoration: none;
}

#home {
  width: 200px;
  background-color: #7bb58e;
  font-size: 40px;
  padding: 40px;
  margin: 100px;
  display: block;
  text-align: center;
  border: 3px solid black;
}

#home:hover {
  background-color: #287842;
}
.content-container {
  display: flex;
}

.about {
  background-color: #FFA69E;
  height: 350px;
  width: 40%;
  display: flex;
  align-items: center;
}

.about p {
  font-size: 40px;
  padding-left: 5px;
  line-height: 2.0;
}

.colors {
  display: flex;
  height: 350px;
  background-color: blue;
  width: 60%;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  height: 50%;
  width: 33.33%;
  display: flex;
}

.color1 {
  background-color: #8C5E58;
}
.color2 {
  background-color: #B08782;
}
.color3 {
  background-color: #C8ABA7;
}
.color4 {
  background-color: #E0CFCD;
}
.color5 {
  background-color: #F7F3F2;
}

.footer-container {
  height: 40px;
  display: flex;
  background-color: #FF7E6B;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    width:100%;
  }
  .content-container {
    flex-direction: column;

  }
  .about {
    width: 100%;
  }
  .colors {
    width: 100%;
  }

}
